<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../build/css/app.css">

        <!-- Implementar los iconos de FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>Portfolio</title>  
    </head>
    <body>
        
        <div class="contenedor-header">
            <header>
                <div class="logo">
                    <a href="../index.html">Gerardo Ruelas</a>
                </div>
                <nav id="nav" class="responsive nav">
                    <ul>
                        <li><a href="/index.html" onclick="seleccionar()">Inicio</a></li>
                        <li><a href="/index.html#sobremi" onclick="seleccionar()">Sobre Mí</a></li>
                        <li><a href="/index.html#habilidades" onclick="seleccionar()">Habilidades</a></li>
                        <li><a href="/index.html#proyectos" onclick="seleccionar()">Proyectos</a></li>
                        <li><a href="/index.html#contacto" onclick="seleccionar()">Contacto</a></li>
                    </ul>
                </nav>
                <div id="nav2" class="nav-responsive" onclick="mostrarOcultarMenu()">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </header>
          </div> <!-- Fin de Header  -->

        <div class="proyectos" id="proyectos">
            <h1 class="proyecto-redes"> 
                    Proyectos 
                    
                <a href="https://github.com/GerardoARHernandez" target="_blank"><i class="fa-brands fa-github"></i></a>
            </h1>
            <div class="contenido-proyectos">
                

                <div class="galeria">

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/Agencia de Viajes.webp" alt="Agencia de Viajes" class="img-project">
                        <div class="card-proyect-content">
                          <h3 class="card-proyect-title">Agencia de Viajes</h3>
                          <p class="description-proyect">Una aplicación simula el sitio web de una agencia de viajes, donde los usuarios pueden ver destinos populares, descuentos, y leer o agregar testimonios de clientes. Utiliza Node.js para gestionar el backend, Pug como motor de plantillas, Bootstrap para el diseño responsive y Sequelize como ORM para interactuar con la base de datos</p>
                          <div class="proyect-technologies">
                            <span class="tec"><i class="fa-brands fa-bootstrap"></i></span>
                            <span class="tec"><i class="fa-brands fa-node"></i></span>
                            <span class="tec"><i class="fa-solid fa-database"></i></span>
                          </div>
                          <div class="proyect-links ">
                            <a href="https://agenciaviajesnode-913l.onrender.com/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                            <a href="https://github.com/GerardoARHernandez/AgenciaViajesNode" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                          </div>
                        </div>
                    </section><!--Fin de Agencia de Viajes-->   

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/Cotizador de Prestamos - React.webp" alt="Cotizador de Prestamos" class="img-project">
                        <div class="card-proyect-content">
                          <h3 class="card-proyect-title">Cotizador de Prestamos</h3>
                          <p class="description-proyect">Este es un proyecto de Cotizador de Préstamos desarrollado en React y el mismo en Vue.js, utilizando TailwindCSS para los estilos. El cotizador permite a los usuarios calcular el monto total de un préstamo en función de la cantidad solicitada, el plazo de pago, y la tasa de interés.  
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-react fa-lg"></i> </span>
                                <span class="tec"> Tailwind CSS </span>
                                <span class="tec"><i class="fa-brands fa-vuejs"></i></span>
                            </div>
                          <div class="proyect-links ">
                            <a href="https://cotizadorprestamos-react-geraahdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto - React</a>
                            <a href="https://github.com/GerardoARHernandez/Cotizador-prestamos-React" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub - React</a>
                          </div>
                          <div class="proyect-links">
                            <a href="https://cotizadorprestamos-vue-geraahdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto - Vue</a>
                            <a href="https://github.com/GerardoARHernandez/Cotizador-de-Pr-stamos---Vue.js" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub - Vue</a>
                          </div>
                        </div>
                    </section><!--Fin de CotizadorPrestamos-->     


                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/AppSalon.webp" alt="App Salón" class="img-project">
                        <div class="card-proyect-content">
                          <h3 class="card-proyect-title">App Salón</h3>
                          <p class="description-proyect">Simula una barbería, permitiendo a los clientes seleccionar servicios y reservar citas. Además, incluye una interfaz de administración donde los administradores pueden crear, leer, actualizar y eliminar (CRUD) servicios. La aplicación está conectada a una base de datos MySQL usando la estructura MVC.  <br>
                            Pruebas: <br>
                            correo: correo3@gmail.com <br>
                            contraseña: 123456</p>
                          <div class="proyect-technologies">
                            <span class="tec"> <i class="fa-brands fa-html5 fa-lg"></i> </span>
                            <span class="tec"> <i class="fa-brands fa-sass fa-lg"></i> </span>
                            <span class="tec"> <i class="fa-brands fa-js fa-lg"></i> </i></span>
                            <span class="tec"> <i class="fa-brands fa-php"></i> </span>
                            <span class="tec"> <i class="fa-solid fa-database"></i> </span>
                          </div>
                          <div class="proyect-links ">
                            <a href="http://lulguso.nyc.dom.my.id/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                            <a href="https://github.com/GerardoARHernandez/AppSalon_MVC" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                          </div>
                        </div>
                    </section><!--Fin de AppSalon-->     
        
                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/Bienes Raices.webp" alt="App Salón" class="img-project">
                        <div class="card-proyect-content">
                          <h3 class="card-proyect-title">Bienes Raices</h3>
                          <p class="description-proyect">Simula una pagina de bienes raices donde tambien un administrador puede crear, leer, actualizar y eliminar (CRUD) las propiedades, conectada a una base de datos MySQL, hecha con MVC. </p>
                          <div class="proyect-technologies">
                            <span class="tec"> <i class="fa-brands fa-html5 fa-lg"></i> </span>
                            <span class="tec"> <i class="fa-brands fa-sass fa-lg"></i> </span>
                            <span class="tec"> <i class="fa-brands fa-js fa-lg"></i> </i></span>
                            <span class="tec"> <i class="fa-brands fa-php"></i> </span>
                            <span class="tec"> <i class="fa-solid fa-database"></i> </span>
                          </div>
                          <div class="proyect-links ">
                            <a href="https://dilvoyu.nyc.dom.my.id/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                            <a href="https://github.com/GerardoARHernandez/BienesRaices_mvc_php" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                          </div>
                        </div>
                    </section><!--Fin de BienesRaices-->  

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/Cotizador Criptomonedas.webp" alt="Imagen Cotizador de Criptomonedas" class="img-project">
                        <div class="card-proyect-content">
                            <h3 class="card-proyect-title">Cotizador de Criptomonedas</h3>
                            <p class="description-proyect">Aplicación web que consulta una API para obtener una conversión, usando React y Styled Components.</p>
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-react fa-lg"></i> </span>
                                <span class="tec"> <i class="fa-brands fa-css3-alt fa-lg"></i> </span>
                            </div>
                            <div class="proyect-links ">
                                <a href="https://cotizadorcripts-gerardohdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                                <a href="https://github.com/GerardoARHernandez/Cotizacion-criptos_React" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                            </div>
                        </div>
                    </section><!--Fin de CotizadorCriptos-React-->

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/control_gastos-react.webp" alt="Imagen ControlGastos-React" class="img-project">
                        <div class="card-proyect-content">
                            <h3 class="card-proyect-title">Control de Gastos</h3>
                            <p class="description-proyect">Aplicación web en la que el usuario propone un presupuesto, puediendo agregar, editar y eliminar gastos según una categoria.</p>
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-react fa-lg"></i> </span>
                                <span class="tec"> <i class="fa-brands fa-css3-alt fa-lg"></i> </span>
                            </div>
                            <div class="proyect-links ">
                                <a href="https://control-presupuesto-gerardohdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                                <a href="https://github.com/GerardoARHernandez/control_gastos-react" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                            </div>
                        </div>
                    </section><!--Fin de ControlGastos-React-->

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/p4_citas.webp" alt="Imagen Veterinaria con React" class="img-project">
                        <div class="card-proyect-content">
                            <h3 class="card-proyect-title">Citas en Veterinaria</h3>
                            <p class="description-proyect">Aplicación web en la que el usuario puede registrar pacientes, editar y eliminarlos, usando React y Tailwind CSS.</p>
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-react fa-lg"></i> </span>
                                <span class="tec"> Tailwind CSS </span>
                            </div>
                            <div class="proyect-links ">
                                <a href="https://veterinariapacientes-gerardohdz14.netlify.app" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                                <a href="https://github.com/GerardoARHernandez/citas_veterinaria_react" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                            </div>
                        </div>
                    </section><!--Fin de Veterinario-React-->

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/Calculadora de Propinas y Consumos.webp" alt="Imagen Calculadora de Propinas" class="img-project">
                        <div class="card-proyect-content">
                            <h3 class="card-proyect-title">Calculadora de Propinas y Consumo</h3>
                            <p class="description-proyect">Este proyecto sirve para un restaurante, que permite a los usuarios crear órdenes, ver un resumen de su consumo, y calcular propinas y mostrar el total de la orden. </p>
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-html5 fa-lg"></i> </span>
                                <span class="tec"><i class="fa-brands fa-bootstrap"></i></span>
                                <span class="tec"> <i class="fa-brands fa-js fa-lg"></i> </i></span>
                            </div>
                            <div class="proyect-links ">
                                <a href="https://consumo-propinas-geraahdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                                <a href="https://github.com/GerardoARHernandez/CalculadoraConsumosyPropinas" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                            </div>
                        </div>
                    </section><!--Fin de Recetario-->

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/Recetario.webp" alt="Imagen Recetario" class="img-project">
                        <div class="card-proyect-content">
                            <h3 class="card-proyect-title">Recetario</h3>
                            <p class="description-proyect">Aplicación web que permite a los usuarios buscar recetas de comida según diferentes categorías. Los usuarios pueden seleccionar una categoría de recetas y ver los resultados que coinciden con su selección. La aplicación también permite marcar recetas como favoritas para un acceso rápido posterior.  </p>
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-html5 fa-lg"></i> </span>
                                <span class="tec"><i class="fa-brands fa-bootstrap"></i></span>
                                <span class="tec"> <i class="fa-brands fa-js fa-lg"></i> </i></span>
                            </div>
                            <div class="proyect-links ">
                                <a href="https://recetario-geraahdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                                <a href="https://github.com/GerardoARHernandez/Recetario_JS" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                            </div>
                        </div>
                    </section><!--Fin de Recetario-->

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/Clima.webp" alt="Imagen Clima" class="img-project">
                        <div class="card-proyect-content">
                            <h3 class="card-proyect-title">Consultar Clima</h3>
                            <p class="description-proyect">Aplicación web sencilla que permite a los usuarios consultar el clima de una ciudad específica, consumiendo una API externa para obtener los datos meteorológicos. </p>
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-html5 fa-lg"></i> </span>
                                <span class="tec"> Tailwind CSS </span>
                                <span class="tec"> <i class="fa-brands fa-js fa-lg"></i> </i></span>
                            </div>
                            <div class="proyect-links ">
                                <a href="https://clima-geraahdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                                <a href="https://github.com/GerardoARHernandez/ConsultarClima_JS" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                            </div>
                        </div>
                    </section><!--Fin de Clima-->

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/Carrito.webp" alt="Imagen Carrito" class="img-project">
                        <div class="card-proyect-content">
                            <h3 class="card-proyect-title">Carrito de Compras</h3>
                            <p class="description-proyect">Página web interactiva para explorar y agregar cursos a un carrito de compras. Funcionalidad completa de carrito con JavaScript.</p>
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-html5 fa-lg"></i> </span>
                                <span class="tec"><i class="fa-brands fa-bootstrap"></i></span>
                                <span class="tec"> <i class="fa-brands fa-js fa-lg"></i> </i></span>
                            </div>
                            <div class="proyect-links ">
                                <a href="https://comprarcursos-geraahdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                                <a href="https://github.com/GerardoARHernandez/CarritoComprasJS" class="btn-proyect btn-secondary-proyect" target="_blank">GitHub</a>
                            </div>
                        </div>
                    </section><!--Fin de CarritoCompras-->

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/festival-musica.webp" alt="Imagen Festival de Musica" class="img-project">
                        <div class="card-proyect-content">
                            <h3 class="card-proyect-title">Festival de Música</h3>
                            <p class="description-proyect">Página web que simula un festival de música con line up, usando SASS y JavaScript.</p>
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-html5 fa-lg"></i> </span>
                                <span class="tec"> <i class="fa-brands fa-sass fa-lg"></i> </span>
                                <span class="tec"> <i class="fa-brands fa-js fa-lg"></i> </i></span>
                            </div>
                            <div class="proyect-links ">
                                <a href="https://festival-musica-geraarhdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                                
                            </div>
                        </div>
                    </section><!--Fin de Festival de Musica-->

                    <section class="card-proyect">
                        <img loading="lazy" src="../src/img/p3.webp" alt="Imagen Blog de Café" class="img-project">
                        <div class="card-proyect-content">
                            <h3 class="card-proyect-title">Blog de Café</h3>
                            <p class="description-proyect">Página web que simula un Blog de Cursos de Café.</p>
                            <div class="proyect-technologies">
                                <span class="tec"> <i class="fa-brands fa-html5 fa-lg"></i> </span>
                                <span class="tec"> <i class="fa-brands fa-css3-alt fa-lg"></i> </span>
                                <span class="tec"> <i class="fa-brands fa-js fa-lg"></i> </i></span>
                            </div>
                            <div class="proyect-links ">
                                <a href="https://blog-de-cafe-gerardohdz14.netlify.app/" class="btn-proyect btn-primary-proyect " target="_blank">Ver Proyecto</a>
                                
                            </div>
                        </div>
                    </section><!--Fin de Blog de Café-->

                </div>
            </div>
        </div>

        <footer class="footer">
            <a href="#" class="arriba" id="arriba">
                <i class="fa-solid fa-angles-up"></i>
            </a>
            <section class="redes">
                <a href="https://github.com/GerardoARHernandez" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/gerardo-antonio-ruelas-hern%C3%A1ndez-628b94289/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </section>
            <div class="derechos">
                <h3>
                    Gerardo Antonio Ruelas Hernández. Todos los derechos Reservados <?php echo date('Y'); ?>.
                </h3>
            </div>
        </footer> <!--Fin de Footer-->
        

        <script src="../../build/js/app.js"></script>
    </body>
</html>