@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap');

// Colores
$blanco: #ffffff;
$oscuro: #1e2326;
$grisclaro: #252a2e;
$azuloscuro: #11171e;
$azulclaro: rgb(32, 208, 208);
$purpura: #c062ff;
$fuenteHeading: 'Poppins';
$fuenteParrafo: 'Lato';

// Media Queries
$telefono: 664px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;