@use 'base/variables' as v;

//Proyecto
.card-proyect {
    display: flex;
    flex-direction: column;
    width: 45rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 1rem;
  }
  
  .card-proyect-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .card-proyect:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .img-proyect {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  .card-proyect-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .description-proyect {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #e3e3e3;
  }

  .proyect-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

      span {
        background-color: #e8e8e8;
        padding: 5px 12px;
        border-radius: 7px;
        font-size: 1.75rem;
        color: #192144;
      }
  }

  .proyect-links {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .btn-proyect {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
  
  .btn-primary-proyect {
    background-color: #007bff;
      &:hover {
        background-color: #0056b3;
      }
  }

  .btn-secondary-proyect {
    background-color: #6c757d;
      &:hover {
        background-color: #565e64;
      }
  }

  .tec{
    i{
      font-size: 2.4rem;
      margin: 0 1rem;
    }
  }

  
  //Habilidades
  .card-habilidad{
    width: 15rem;
    height: 13rem;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    
    @media screen and (max-width: v.$tablet){
      margin: 1rem 0;
    }
  }
  
  .card-habilidad h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  
  .card-habilidad::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card-habilidad::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  /* .card-habilidad:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */
  
  
  