@use 'base/variables' as v;

.proyecto-redes{
    text-align: center;

    a{
      color: v.$blanco;
      display: inline-block;
      text-decoration: none;
      border: 1px solid v.$blanco;
      border-radius: 100%;
      width: 4.2rem;
      height: 4.2rem;
      line-height: 4rem;
      margin: 4rem .5rem;
      font-size: 2.5rem;
      transition: .3s;
      text-align: center;
    }
}

.proyectos {
    background-color: v.$oscuro;
    color: v.$blanco;
    padding: 5rem 2rem;
  }
  
  .contenido-proyectos{
    max-width: 110rem;
    margin: auto;
  }
  
  .proyectos h2{
    text-align: center;
    padding: 2rem;
  }
  
  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
  }
  
  